<appSettings>
  <add key="FacebookAppId" value="IDontKnow"/>
  <add key="FacebookSecretKey" value="Hmmm"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>